@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200;1,800&display=swap');
.headname{
    padding: 20px!important;
    font-size: large;
    cursor: pointer;
    font-weight: bold!important;
    color: #14566e !important;
    font-family: 'Poppins', sans-serif;
}

.menui{
    padding: 20px!important;
    cursor: pointer;
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif;
    border-right: 1px solid rgba(36, 34, 35, .13);
}

.menui a {
    color: black !important;
}

.menui:hover {
    background-color: #207492 !important;
}
.menui:hover a {
    color: white !important;
}

#menubut{
    padding: 5px 30px!important;
    height: 50px !important;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500 !important;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: #367992 !important;
    color: white !important;
    border: none !important;
    margin-right: 10px;
    margin-left: 10px;
}

#menubut:hover {
    background-color: #2f697e !important;
    color: white !important;
}

.modaltitle {
    font-size: 20px !important;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif !important;
    color: #367992 !important;
}